<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gg.pp.myappviajes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".modelo.ViajesProvider"
            android:authorities="gg.pp.myappviajes"
            android:exported="false" />

        <activity
            android:name=".ui.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.InsertActivity"
            android:label="@string/title_activity_insert"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.UpdateActivity"
            android:label="@string/title_activity_update"
            android:parentActivityName=".ui.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailActivity" />
        </activity>
        <activity
            android:name=".ui.InsertEvento"
            android:label="@string/title_insert_evento"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ListCt"
            android:label="@string/description_input"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.InsertViaje"
            android:label="@string/nuevo_viaje"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailActivity" />
        </activity>
        <activity
            android:name=".ui.EditCt"
            android:label="@string/categor_label"
            android:parentActivityName=".ui.ListCt">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailActivity" />
        </activity>
        <activity
            android:name=".ui.EditMn"
            android:label="@string/menu_moneda"
            android:parentActivityName=".ui.ListCt">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailActivity" />
        </activity>
        <activity
            android:name=".ui.EditMp"
            android:label="@string/menu_modopag"
            android:parentActivityName=".ui.ListCt">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailActivity" />
        </activity>
        <activity
            android:name=".ui.EditTv"
            android:label="@string/menu_tipov"
            android:parentActivityName=".ui.ListCt">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailActivity" />
        </activity>
        <activity
            android:name=".ui.ListMn"
            android:label="@string/menu_moneda"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ListMp"
            android:label="@string/menu_modopag"
            android:parentActivityName=".ui.ListCt">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailActivity" />
        </activity>
        <activity
            android:name=".ui.ListTv"
            android:label="@string/menu_tipov"
            android:parentActivityName=".ui.ListCt">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailActivity" />
        </activity>
        <activity
            android:name=".exportimport.Export"
            android:label="@string/menu_export"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailActivity" />
        </activity>
        <activity
            android:name=".exportimport.Import"
            android:label="@string/menu_export"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailActivity" />
        </activity>
        <activity android:name=".exportimport.ExportImport"></activity>
    </application>

</manifest>
